@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --clr-primary: #2a7ae4;
  --clr-dark-gray: #464646;
  --clr-contact: #eaf2fd;
  --clr-text: rgba(0, 0, 0, 0.7);
  --font-stack: "Raleway", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
}

html {
  font-size: 50%;
  box-sizing: inherit;
}
@media screen and (min-width: 660px) {
  html {
    font-size: 54%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: var(--font-stack);
  font-weight: 400;
}

.btn {
  padding: 1.2rem 2rem;
  border: 1px solid var(--clr-primary);
  transition: all 0.5s;
}

.contain__agregar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 2rem;
}
.contain__agregar-title {
  font-size: 2.3rem;
  color: var(--clr-text);
  margin-bottom: 1.5rem;
  align-self: flex-start;
}
.contain__agregar form {
  width: 90%;
}
@media screen and (min-width: 1024px) {
  .contain__agregar form {
    width: 50%;
  }
}
.contain__agregar form input {
  display: block;
  border: none;
  outline: none;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 2rem 3rem;
}
.contain__agregar form input::placeholder {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.4);
}
.contain__agregar-btn {
  width: 100%;
  background-color: var(--clr-primary);
  padding: 1.5rem 4rem;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .contain__agregar-btn {
    width: 100%;
  }
}
.contain__agregar-btn:hover {
  background-color: transparent;
  color: var(--clr-primary);
}
@media screen and (min-width: 660px) {
  .contain__agregar-group {
    display: flex;
  }
}
.contain__agregar-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 660px) {
  .contain__agregar-box {
    flex: 1;
  }
}
@media screen and (min-width: 660px) {
  .contain__agregar-box {
    flex: 1.2;
  }
}
.contain__agregar-box .add-icon {
  position: absolute;
  font-size: 3.5rem;
  top: 2.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 660px) {
  .contain__agregar-box .add-icon {
    display: none;
  }
}
.contain__agregar-box .img-icon {
  display: none;
  position: absolute;
  font-size: 3.5rem;
  top: 4rem;
  left: 45%;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 660px) {
  .contain__agregar-box .img-icon {
    display: block;
  }
}
.contain__agregar-img {
  width: 100%;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 6rem 3rem;
  cursor: pointer;
  background-color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}
.contain__agregar-img .mobile-p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 3rem;
}
@media screen and (min-width: 660px) {
  .contain__agregar-img .mobile-p {
    display: none;
  }
}
.contain__agregar-img .tablet-p {
  display: none;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 3rem;
}
@media screen and (min-width: 660px) {
  .contain__agregar-img .tablet-p {
    display: block;
  }
}
.contain__agregar-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 660px) {
  .contain__agregar-button {
    flex: 1.5;
  }
}
@media screen and (min-width: 1024px) {
  .contain__agregar-button {
    flex: 1;
  }
}
.contain__agregar-button p {
  font-size: 1.6rem;
  margin-left: 1rem;
  color: var(--clr-text);
}
.contain__agregar-dispositivo {
  background-color: transparent;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}
.contain__agregar-dispositivo:hover {
  background-color: var(--clr-primary);
  color: #fff;
}
.contain__agregar-desc {
  border: none;
  outline: none;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 2rem 3rem;
  resize: none;
}
.contain__agregar-desc::placeholder {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.4);
}

.contain {
  background-color: #f4f4f4;
}
.contain__starwars, .contain__consolas, .contain__diversos {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contain__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}
.contain__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.contain__header-title {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}
.contain__header-link {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--clr-primary);
  transform: scale(1, 1);
  transition: all 0.5s;
}
.contain__header-link:hover {
  transform: scale(1.1, 1.1);
}
.contain__box {
  margin-bottom: 6rem;
}
.contain__box:nth-last-child(-n+2) {
  display: none;
}
@media screen and (min-width: 1024px) {
  .contain__box:nth-last-child(-n+2) {
    display: block;
  }
}
.contain__box img {
  object-fit: cover;
  height: 18vh;
}
.contain__box--name {
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7);
}
.contain__box--price {
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
}
.contain__box--link {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--clr-primary);
}
.contain__contact {
  background-color: var(--clr-contact);
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.contain__contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 660px) {
  .contain__contact-box {
    flex-direction: row;
    align-items: flex-start;
    gap: 6rem;
  }
}
.contain__contact-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 660px) {
  .contain__contact-group {
    flex-basis: 60%;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .contain__contact-group {
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 80%;
  }
}
.contain__contact-logo {
  flex: 0 0 25%;
}
.contain__contact-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
@media screen and (min-width: 660px) {
  .contain__contact-menu {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .contain__contact-menu {
    margin-top: 0;
  }
}
.contain__contact-link {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 1.5rem;
  transform: scale(1, 1);
  transition: all 0.5s;
}
.contain__contact-link:hover {
  transform: scale(1.1, 1.1);
}
@media screen and (min-width: 660px) {
  .contain__contact-link {
    margin-bottom: 2rem;
  }
}
.contain__contact-subtitle {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 1rem;
  margin-top: 3rem;
}
@media screen and (min-width: 660px) {
  .contain__contact-subtitle {
    margin-top: 0;
  }
}
.contain__contact-form {
  width: 100%;
}
.contain__contact-form form input[type=text],
.contain__contact-form form textarea {
  margin-bottom: 1.5rem;
  border: none;
  outline: none;
  padding: 2rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.contain__contact-form form input[type=text]::placeholder,
.contain__contact-form form textarea::placeholder {
  font-family: var(--font-stack);
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
.contain__contact-form form textarea {
  padding: 2rem 1rem;
  resize: none;
}
.contain__contact-btn {
  background-color: var(--clr-primary);
  color: #fff;
  cursor: pointer;
}
.contain__contact-btn:hover {
  background-color: transparent;
  color: var(--clr-primary);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 2rem;
}
.head__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 660px) {
  .head__navigation {
    flex-direction: row;
  }
}
.head__navigation-logo {
  flex: 1;
}
@media screen and (min-width: 660px) {
  .head__navigation-logo {
    flex: 0 0 20%;
  }
}
.head__navigation-link {
  display: block;
  width: 75%;
  font-size: 2rem;
}
.head__navigation-login {
  flex: 1.5;
}
@media screen and (min-width: 660px) {
  .head__navigation-login {
    order: 3;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
.head__navigation-btn {
  color: var(--clr-primary);
  font-size: 1.6rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.head__navigation-btn:hover {
  color: #fff;
  background-color: var(--clr-primary);
}
.head__navigation-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.head__navigation-search input {
  width: 100%;
  display: none;
  padding: 1rem 4rem;
  border: none;
  outline: none;
  border-radius: 3rem;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.4);
}
.head__navigation-search a {
  display: block;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 2.5rem;
  color: var(--clr-gray-dark);
}
@media screen and (min-width: 660px) {
  .head__navigation-search {
    flex: 1;
    order: 2;
  }
  .head__navigation-search input {
    display: block;
  }
  .head__navigation-search a {
    position: absolute;
    top: 50%;
    right: 1rem;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    font-size: 1.8rem;
  }
}
.head__hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 8rem;
}
@media screen and (min-width: 660px) {
  .head__hero {
    padding-top: 12rem;
  }
}
@media screen and (min-width: 1024px) {
  .head__hero {
    padding-top: 16rem;
  }
}
.head__hero-title {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.head__hero-paragraph {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.head__hero-btn {
  display: block;
  width: fit-content;
  font-size: 1.2rem;
  background-color: var(--clr-primary);
  color: #fff;
  margin-bottom: 1rem;
}
.head__hero-btn:hover {
  background-color: transparent;
  color: var(--clr-primary);
}

.foot {
  padding: 4rem 6em;
}
.foot__text {
  text-align: center;
  font-size: 1.4rem;
}
.foot__text span {
  color: var(--clr-primary);
  font-weight: 700;
}

.contain__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 2rem;
}
.contain__form-title {
  font-size: 2rem;
  color: var(--clr-text);
  margin-bottom: 1.5rem;
}
.contain__form form {
  width: 90%;
  text-align: center;
}
@media screen and (min-width: 660px) {
  .contain__form form {
    width: 55%;
  }
}
@media screen and (min-width: 1024px) {
  .contain__form form {
    width: 30%;
  }
}
.contain__form form input {
  display: block;
  border: none;
  outline: none;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 2rem 3rem;
}
.contain__form form input::placeholder {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.4);
}
.contain__form form input:focus {
  border-color: rgba(42, 122, 228, 0.4);
}
.contain__form form .btn {
  background-color: var(--clr-primary);
  padding: 1.5rem 4rem;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .contain__form form .btn {
    width: 100%;
  }
}
.contain__form form .btn:hover {
  background-color: transparent;
  color: var(--clr-primary);
}

.contain__productos {
  padding-top: 3rem;
}
.contain__header-productos .btn {
  background-color: var(--clr-primary);
  color: #fff;
}
.contain__box {
  position: relative;
}
.contain__box-icons {
  position: absolute;
  top: 5px;
  right: 2px;
}
.contain__box-icons ion-icon {
  font-size: 1.7rem;
  margin-right: 0.7rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.contain__producto-container {
  padding-top: 0;
}
@media screen and (min-width: 660px) {
  .contain__producto-container {
    padding-top: 2rem;
  }
}
.contain__producto-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 660px) {
  .contain__producto-box {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 660px) {
  .contain__producto-img {
    flex: 1;
  }
}
@media screen and (min-width: 660px) {
  .contain__producto-desc {
    flex: 1.5;
  }
}
.contain__producto-title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--clr-text);
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .contain__producto-title {
    font-size: 3rem;
  }
}
.contain__producto-price {
  font-size: 1.6rem;
  color: var(--clr-text);
  margin-bottom: 1rem;
}
.contain__producto-paragraph {
  font-size: 1.4rem;
  color: var(--clr-text);
}

/*# sourceMappingURL=styles.css.map */
