@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --clr-primary: #2a7ae4;
  --clr-dark-gray: #464646;
  --clr-contact: #eaf2fd;
  --font-stack: "Raleway", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
}

html {
  font-size: 50%;
  box-sizing: inherit;
}
@media screen and (min-width: 660px) {
  html {
    font-size: 56%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: var(--font-stack);
  font-weight: 400;
}

.btn {
  padding: 1.2rem 2rem;
  border: 1px solid var(--clr-primary);
  transition: all 0.5s;
}

.contain__starwars, .contain__consolas, .contain__diversos {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.contain__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}
.contain__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.contain__header-title {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.7);
}
.contain__header-link {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--clr-primary);
}
.contain__box:nth-last-child(-n+2) {
  display: none;
}
@media screen and (min-width: 1024px) {
  .contain__box:nth-last-child(-n+2) {
    display: block;
  }
}
.contain__box img {
  object-fit: cover;
  height: 18vh;
}
.contain__box--name {
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
}
.contain__box--price {
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
}
.contain__box--link {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--clr-primary);
}
.contain__contact {
  background-color: var(--clr-contact);
  padding-top: 2rem;
}
.contain__contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contain__contact-logo {
  flex: 0 0 25%;
}
.contain__contact-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.contain__contact-link {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 1.5rem;
}
.contain__contact-subtitle {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.contain__contact-form {
  width: 100%;
}
.contain__contact-form form input[type=text],
.contain__contact-form form textarea {
  margin-bottom: 1.5rem;
  border: none;
  outline: none;
  padding: 2.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.contain__contact-form form input[type=text]::placeholder,
.contain__contact-form form textarea::placeholder {
  font-family: var(--font-stack);
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.5);
}
.contain__contact-form form textarea {
  padding: 3.5rem 1rem;
}
.contain__contact-btn {
  background-color: var(--clr-primary);
  color: #fff;
  cursor: pointer;
}
.contain__contact-btn:hover {
  background-color: transparent;
  color: var(--clr-primary);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 2rem;
}
.head__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 660px) {
  .head__navigation {
    flex-direction: row;
  }
}
.head__navigation-logo {
  flex: 1;
}
@media screen and (min-width: 660px) {
  .head__navigation-logo {
    flex: 0 0 20%;
  }
}
.head__navigation-link {
  display: block;
  width: 75%;
  font-size: 2rem;
}
.head__navigation-login {
  flex: 1.5;
}
@media screen and (min-width: 660px) {
  .head__navigation-login {
    order: 3;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
.head__navigation-btn {
  color: var(--clr-primary);
  font-size: 1.6rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.head__navigation-btn:hover {
  color: #fff;
  background-color: var(--clr-primary);
}
.head__navigation-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.head__navigation-search input {
  width: 100%;
  display: none;
  padding: 1rem 4rem;
  border: none;
  outline: none;
  border-radius: 3rem;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.4);
}
.head__navigation-search a {
  display: block;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 2.5rem;
  color: var(--clr-gray-dark);
}
@media screen and (min-width: 660px) {
  .head__navigation-search {
    flex: 1;
    order: 2;
  }
  .head__navigation-search input {
    display: block;
  }
  .head__navigation-search a {
    position: absolute;
    top: 50%;
    right: 1rem;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    font-size: 1.8rem;
  }
}
.head__hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 8rem;
}
@media screen and (min-width: 660px) {
  .head__hero {
    padding-top: 12rem;
  }
}
@media screen and (min-width: 1024px) {
  .head__hero {
    padding-top: 16rem;
  }
}
.head__hero-title {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.head__hero-paragraph {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.head__hero-btn {
  background-color: var(--clr-primary);
  color: #fff;
  margin-bottom: 1rem;
}
.head__hero-btn:hover {
  background-color: transparent;
  color: var(--clr-primary);
}

/*# sourceMappingURL=styles.css.map */
